

<section class="contact-section">
    <div class="container">
        <div class="contact-content">

                 <div class="contact-col">
                    <h2>
                        Contact Us
                    </h2>

                    <p>
                        If you have any questions feel free to get in touch using the contact details below.
                    </p>

                    <div class="contact-list">

                        <a href="tel:01225891686" class="contact-item">
                            <span class="material-symbols-outlined">call</span>
                            <p>
                                (01225) 891686
                                </p>
                        </a>

                        <div class="contact-item">
                            <span class="material-symbols-outlined">location_on</span>
                            <p>
                                Special Plants
Greenways Lane <br>
Cold Ashton Chippenham <br>
Wiltshire UK <br>
SN14 8LA
                                </p>
                        </a>


                    </div>

                    <a href="" class="contact-item -v1">
                        <span class="material-symbols-outlined">arrow_outward</span>
                        <p>
                            How to find us
                            </p>
                    </a>

                </div>
</div>
                <div class="contact-col">
                    <div class="form-wrapper">
                        <h2>
                            Sign Up
                        </h2>

                        <p>
                            for our occasional newsletter which includes hints, tips and special offers.
                        </p>

                        <form action="" class="form">
                            <input type="name" placeholder="Full Name" class="input">
                            <input type="email" placeholder="Email" class="input">
                            <button type="submit" class="button -v2">Subscribe</button>
                        </form>
                    </div>
                </div>

                <div class="contact-col">
                    <img src="images/girl.svg" alt="contact" class="contact-img">
                </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <div class="footer-content">

            <div class="footer-logo">
                <a href="">
                    <img src="images/logo.svg" alt="logo">
                </a>
            </div>

            <div class="footer-social">
                <div class="footer-social-title">
                    Follow Us:
                </div>
                <a href="">
                    <img src="images/icons/instagram.svg" alt="instagram">
                </a>
                
                <a href="">
                    <img src="images/icons/facebook.svg" alt="facebook">
                </a>
            </div>
     
            
        </div>

        <div class="footer-bottom">
            <div class="copyright">
                © Derry Watkins 2025 | Website by  <a href="#">Innerbox</a>
            </div>

            <div class="footer-bottom-menu">
                
                    <a href="#">Privacy Policy</a>
                    <span>|</span>

                    <a href="#">Terms of Business</a>
                    
               
            </div>
        </div>

        

    </div>
</footer>
