<!-- Header -->
<header class="header">

    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.svg" alt="logo">
                </a>
            </div>

            <div class="header-right">
                <div class="search-wrapper">
                    <input type="text" placeholder="Search..." class="search-input">
                    <button type="submit" class="search-button">
                        <img src="images/icons/search.svg" alt="search">
                    </button>
                </div>

                <a class="header-icon" href="#">
                    <img src="images/icons/garden-cart.svg" alt="backet">
                </a>

                <a class="header-icon" href="#">
                    <img src="images/icons/account-circle.svg" alt="backet">
                </a>

                <a href="#" class="button -v1">CONTACT US</a>

                <div class="menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

        </div>
    </div>
    </div>

    <div class="header-menu">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Seed Shop</a></li>
                    <li><a href="#">Garden</a></li>
                    <li><a href="#">Nursery</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#" class="button -v1">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>
